.navbar {
  position: relative;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar--logo {
  margin-left: 1em;
}
.navbar__menu {
  display: flex;
  align-items: center;
}
.navbar__menu--list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 3em;
}
@media (max-width: 768px) {
  .navbar__menu--list {
    display: none;
  }
}
.navbar__menu--list-item {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #A5A5A5;
  font-size: 0.7em;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin-right: 1.5em;
  margin-left: 3em;
  line-height: 0.9em;
  cursor: pointer;
}
.navbar--button {
  position: absolute;
  right: 2em;
  background-color: transparent;
  border: none;
}
@media (min-width: 768px) {
  .navbar--button {
    display: none;
  }
}

.header {
  text-align: center;
}
.header--h1 {
  margin-top: 1.8em;
  font-size: 2.1em;
  font-weight: normal;
  line-height: 2.5em;
  color: black;
  font-family: "Raleway", sans-serif;
}
.header--text {
  font-size: 1em;
  font-weight: 400;
  line-height: 1em;
  color: black;
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 768px) {
  .header--text-breack {
    display: none;
  }
}
.header--button {
  font-size: 0.9em;
  font-weight: bold;
  padding: 1.5em 5.5em;
  border-radius: 2.5em;
  margin-top: 2em;
  color: white;
  background-color: #08a6e4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  border-color: transparent;
  margin-bottom: 6.5em;
}
.header__img {
  overflow: hidden;
}
.header__img--laptop {
  width: 100%;
  height: 12em;
  transform: scale(1.7);
}
@media (min-width: 500px) {
  .header__img--laptop {
    height: 15em;
    transform: scale(1.6);
  }
}
@media (min-width: 1000px) {
  .header__img--laptop {
    height: 22em;
    transform: scale(1.6);
  }
}

.numbersInfo {
  width: 100%;
  align-items: center;
  text-align: center;
  padding-top: 3.5em;
}
.numbersInfo--title {
  font-family: "Raleway", sans-serif;
  font-size: 1.8em;
  margin-bottom: 1.6em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  color: black;
}
@media (min-width: 768px) {
  .numbersInfo--title {
    margin-bottom: 3em;
    font-weight: 400;
  }
  .numbersInfo--title-breack {
    display: none;
  }
}
@media (min-width: 768px) {
  .numbersInfo__container {
    padding-bottom: 5em;
    display: flex;
    justify-content: space-around;
  }
}
.numbersInfo__container--data-redElipse {
  transform: translateX(25%);
}
.numbersInfo__container--data-halfPerson {
  transform: translate(-43%, -20%);
}
.numbersInfo__container--data-smallBlueEllipse {
  transform: translateX(50%);
}
.numbersInfo__container--data-eye {
  transform: translate(-20%, -40%);
}
.numbersInfo__container--data-greenEllipse {
  transform: translateX(43%);
}
.numbersInfo__container--data-pages {
  transform: translate(-18%, -20%);
}
.numbersInfo__container--data-numbers {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.1em;
  line-height: 1.4em;
  letter-spacing: 0.2em;
  margin-top: 0.5em;
  text-align: center;
  color: black;
}
.numbersInfo__container--data-description {
  margin-bottom: 2em;
  margin-top: 0.7em;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.1em;
  text-align: center;
  color: #A5A5A5;
}
@media (min-width: 768px) {
  .numbersInfo__container--data-description-breack {
    display: none;
  }
}

.benefits {
  background-color: #f7f7f7;
  margin-top: 2em;
}
.benefits__container {
  padding: 2em 1.5em;
}
.benefits__container__dataFirst {
  background-color: white;
  margin: 2em auto;
  padding: 1.5em;
  border: 1px solid #e8e9ed;
  border-radius: 0.5em;
}
@media (min-width: 768px) {
  .benefits__container__dataFirst {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 55em;
  }
}
.benefits__container__dataFirst--img-redRectangle {
  transform: translateX(80%);
}
@media (min-width: 768px) {
  .benefits__container__dataFirst--img-redRectangle {
    transform: translate(100%, -30%);
    width: 30%;
  }
}
.benefits__container__dataFirst--img-macbook {
  transform: translateX(-50%);
  width: 52%;
}
@media (min-width: 768px) {
  .benefits__container__dataFirst--img {
    margin-top: 2em;
    transform: translate(30%);
    width: 50%;
  }
}
@media (min-width: 768px) {
  .benefits__container__dataFirst--info {
    display: flex;
    flex-direction: column;
  }
}
.benefits__container__dataFirst--info-title {
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  line-height: 1.1em;
  text-align: left;
  margin-left: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 400;
  color: black;
}
.benefits__container__dataFirst--info-description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  text-align: left;
  margin-bottom: 1.4em;
  margin-left: 0.9em;
  color: black;
}
@media (min-width: 768px) {
  .benefits__container__dataFirst--info-description {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .benefits__container__dataFirst--info-vector {
    display: none;
  }
}
@media (min-width: 768px) {
  .benefits__container__dataFirst--info-vector {
    margin-top: 1.6em;
    width: 80%;
  }
}
.benefits__container__dataSecond {
  background-color: white;
  margin: 2em auto;
  padding: 1.5em;
  border: 1px solid #e8e9ed;
  border-radius: 0.5em;
}
@media (min-width: 768px) {
  .benefits__container__dataSecond {
    display: flex;
    justify-content: space-between;
    margin: 2em auto;
    max-width: 55em;
    padding-bottom: 4em;
    padding-right: 4em;
  }
}
@media (min-width: 768px) {
  .benefits__container__dataSecond--img {
    display: flex;
    max-width: 55em;
    justify-content: space-between;
  }
}
.benefits__container__dataSecond--img-blueEllipse {
  transform: translateX(60%);
  width: 45%;
}
@media (min-width: 768px) {
  .benefits__container__dataSecond--img-blueEllipse {
    transform: translate(70%);
    width: 80%;
    height: 80%;
    margin-top: 3em;
  }
}
.benefits__container__dataSecond--img-phone {
  transform: translateX(-40%);
  width: 50%;
}
@media (min-width: 768px) {
  .benefits__container__dataSecond--img-phone {
    transform: translateX(-20%);
    width: 25em;
    margin-top: 4em;
  }
}
@media (min-width: 768px) {
  .benefits__container__dataSecond--info {
    display: flex;
    flex-direction: column;
    margin-left: 5em;
  }
}
.benefits__container__dataSecond--info-title {
  font-family: "Raleway", sans-serif;
  font-size: 1.9em;
  line-height: 1.1em;
  text-align: left;
  margin-left: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 400;
  color: black;
}
.benefits__container__dataSecond--info-description {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  line-height: 1.3em;
  text-align: left;
  margin-bottom: 1.4em;
  margin-left: 0.9em;
  color: black;
}
@media (max-width: 768px) {
  .benefits__container__dataSecond--info-vector {
    display: none;
  }
}
@media (min-width: 768px) {
  .benefits__container__dataSecond--info-vector {
    margin-top: 1.6em;
    width: 70%;
  }
}
.benefits__container__dataThird {
  margin-top: 2em;
  background-color: white;
  border: 1px solid #e8e9ed;
  border-radius: 0.5em;
}
@media (min-width: 768px) {
  .benefits__container__dataThird {
    display: flex;
    padding-bottom: 3em;
    margin: 2em auto;
    max-width: 55em;
    background-color: #f7f7f7;
    border: none;
    justify-content: space-between;
  }
}
.benefits__container__dataThird--img {
  background-color: #55dfb4;
}
@media (min-width: 768px) {
  .benefits__container__dataThird--img {
    border: 1px solid #e8e9ed;
    border-radius: 0.5em;
    padding-right: 8em;
    padding-bottom: 3em;
  }
}
.benefits__container__dataThird--img-trumpet {
  margin-top: 3em;
  margin-left: 1em;
}
@media (min-width: 768px) {
  .benefits__container__dataThird--img-trumpet {
    width: 100%;
    margin-top: 5em;
    margin-left: 2em;
  }
}
@media (min-width: 768px) {
  .benefits__container__dataThird--info {
    border: 1px solid #e8e9ed;
    background-color: white;
    padding-right: 8em;
    padding-bottom: 3em;
    border-radius: 0.5em;
    margin-right: 2em;
  }
}
.benefits__container__dataThird--info-title {
  font-family: "Raleway", sans-serif;
  font-size: 1.9em;
  line-height: 1.1em;
  text-align: left;
  margin-left: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 400;
  color: black;
}
@media (min-width: 768px) {
  .benefits__container__dataThird--info-title {
    margin-left: 1em;
  }
}
.benefits__container__dataThird--info-description {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  line-height: 1.3em;
  text-align: left;
  margin-bottom: 1.4em;
  margin-left: 0.9em;
  color: black;
}
@media (min-width: 768px) {
  .benefits__container__dataThird--info-description {
    margin-left: 2em;
  }
}
@media (max-width: 768px) {
  .benefits__container__dataThird--info-vector {
    display: none;
  }
}
@media (min-width: 768px) {
  .benefits__container__dataThird--info-vector {
    margin-top: 1.6em;
    width: 80%;
    margin-left: 2em;
  }
}

.prices--title {
  align-items: center;
  margin-top: 1.5em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 400;
  line-height: 2.2em;
  text-align: center;
  color: black;
  margin-bottom: 2em;
}
@media (min-width: 768px) {
  .prices__container {
    display: flex;
    gap: 2.5em;
    align-items: center;
    margin-left: 2em;
    justify-content: center;
  }
}
.prices__container__card {
  display: flex;
  position: relative;
  padding: 2.5em 1em;
  margin: 0.2em 2em 3em 2em;
  border: 1px solid;
  border-radius: 1.5em;
}
@media (min-width: 768px) {
  .prices__container__card {
    display: flex;
    height: 28em;
    width: 20em;
  }
  .prices__container__card:hover {
    cursor: pointer;
    box-shadow: 5px 10px 27px 0px rgba(250, 89, 124, 0.3647058824);
    transform: scale(1.1);
    transition: transform 0.1s ease;
  }
}
.prices__container__card--red {
  border-color: #FB3B64;
}
.prices__container__card--blue {
  border-color: #07ACE6;
}
.prices__container__card--green {
  border-color: #55DFB4;
}
.prices__container__card--price {
  text-align: center;
  width: 40%;
  align-content: center;
}
@media (min-width: 768px) {
  .prices__container__card--price {
    display: flex;
    justify-content: start;
  }
}
.prices__container__card--price-title {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.2em;
  color: #13253B;
  margin-bottom: 0.6em;
}
@media (min-width: 768px) and (min-width: 768px) {
  .prices__container__card--price-title {
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
  }
}
.prices__container__card--price-number {
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  font-weight: lighter;
}
@media (min-width: 768px) {
  .prices__container__card--price-number {
    position: absolute;
    text-align: center;
    margin-left: 2em;
    margin-top: 1em;
    height: 10%;
    margin-right: 10em;
    justify-content: center;
  }
}
.prices__container__card--price-number--red {
  color: #FB3B64;
}
.prices__container__card--price-number--blue {
  color: #07ACE6;
}
.prices__container__card--price-number--green {
  color: #55DFB4;
}
.prices__container__card--price-limitedOffer {
  margin-top: 0.1em;
  font-family: "Raleway", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 0.8em;
  color: #13253B;
}
@media (min-width: 768px) {
  .prices__container__card--price-limitedOffer {
    display: flex;
    position: absolute;
    right: 9em;
    margin-top: 8.5em;
  }
}
.prices__container__card--checkList {
  margin-left: 1.3em;
}
@media (min-width: 768px) {
  .prices__container__card--checkList {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-left: 4em;
    margin-top: 10em;
  }
}
.prices__container__card--checkList-item {
  font-weight: 400;
  text-align: center;
  color: black;
  margin-left: 2em;
  font-size: 0.8em;
  line-height: 1em;
  text-align: center;
  margin-bottom: 1.5em;
}
@media (min-width: 768px) {
  .prices__container__card--checkList-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: center;
    margin-bottom: 0.5em;
    color: black;
    padding: 0.4em 0em;
  }
}
.prices__container__card--checkList-check {
  list-style: url("../assets/Image/CheckboxGreen.png");
}
.prices__container__card--checkList-cross {
  list-style: url("../assets/Image/CheckboxRed.png");
}
.prices__container__card--button {
  border-radius: 11em;
  position: absolute;
  padding: 1.2em 4.4em;
  bottom: -8%;
  left: 25%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1.1em;
  color: white;
}
.prices__container__card--button--red {
  border-color: transparent;
  background-color: #FB3B64;
}
.prices__container__card--button--blue {
  border-color: transparent;
  background-color: #07ACE6;
}
.prices__container__card--button--green {
  border-color: transparent;
  background-color: #55DFB4;
}

.contact {
  padding: 1em 1em 3em 1em;
}
@media (min-width: 760px) {
  .contact {
    display: flex;
    margin-left: 4em;
    margin-right: 5em;
    margin-top: 5em;
    padding-left: 11em;
    justify-content: center;
  }
}
.contact__information {
  margin-bottom: 2em;
  margin-top: 1.5em;
  margin-left: 1em;
}
@media (min-width: 760px) {
  .contact__information--title {
    display: flex;
    white-space: nowrap;
    margin-bottom: 0.3em;
    flex-direction: column;
  }
}
.contact__information--title-name {
  font-family: "Raleway", sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  text-align: left;
  color: black;
}
.contact__information--title-text {
  margin-top: 0.3em;
  margin-bottom: 2.3em;
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: black;
}
@media (min-width: 760px) {
  .contact__information__us--email {
    display: flex;
  }
}
.contact__information__us--email-img {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.4em;
}
.contact__information__us--email-text {
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: #a5a5a5;
  vertical-align: 0.5em;
}
.contact__information__us--number {
  margin-bottom: 4em;
}
@media (min-width: 760px) {
  .contact__information__us--number {
    display: flex;
  }
}
.contact__information__us--number-img {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.4em;
}
.contact__information__us--number-text {
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: #a5a5a5;
  vertical-align: 0.5em;
}
.contact__identification {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 1em;
  position: relative;
}
@media (min-width: 760px) {
  .contact__identification {
    width: 40%;
    margin-left: 6em;
  }
}
.contact__identification-label {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 0.8em;
  letter-spacing: 0.2em;
  text-align: left;
  color: #08a6e4;
  width: 100%;
}
.contact__identification-input {
  height: 2em;
  width: 100%;
  border: none;
  background: none;
  border-bottom: 1px solid #95989a;
  margin-top: 2.2em;
  margin-bottom: 2em;
}
.contact__identification--checkBox {
  display: flex;
  vertical-align: top;
  margin-top: 1em;
  align-items: flex-start;
}
.contact__identification--checkBox-checkIcon {
  margin-right: 0.5em;
}
.contact__identification--checkBox-checkText {
  color: #707070;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.2em;
  text-align: left;
}
.contact__identification-button {
  padding: 1.9em 8em;
  border-color: transparent;
  border-radius: 3em;
  background-color: #08a6e4;
  color: #fff;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  margin-top: 2em;
  align-self: flex-end;
  transform: translate(5%);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-align: left;
}

.footer {
  width: 100%;
  padding: 1em;
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
}
.footer--info {
  display: inline-block;
  width: 60%;
  margin-bottom: 1em;
}
.footer--info-title {
  font-family: "Raleway", sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.8em;
  text-align: left;
  color: #08a6e4;
}
.footer--info-copyRight {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  color: #a5a5a5;
  font-size: 0.6em;
  font-weight: 400;
  line-height: 0.9em;
  text-align: left;
}
.footer--icons {
  display: inline-block;
  width: 30%;
  text-align: right;
}
.footer--icons-X {
  padding-left: 1em;
}
.footer--icons-facebook {
  margin-left: 1em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
