.navbar {
    position: relative;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--logo {
        margin-left: 1em;

    }

    &__menu {
        display: flex;
        align-items: center;

        &--list {
            display: flex;
            list-style: none;
            align-items: center;
            margin-right: 3em; 

            // Media List
            @media (max-width: 768px) {
                display: none;
            }
    
            &-item {
                font-family: "Open Sans", sans-serif;
                text-align: center;
                color: #A5A5A5;   
                font-size: 0.7em;
                font-weight: 700;
                letter-spacing: 0.2em;
                margin-right: 1.5em;
                margin-left: 3em;
                line-height: 0.9em;
                cursor: pointer;
            
            }
        }
    }

    &--button {
        position: absolute;
        right: 2em;
        background-color: transparent;
        border: none;

        // Media Button
        @media (min-width: 768px) {
            display: none;
        }
    }
}







