.prices {

    &--title {
        align-items: center;
        margin-top: 1.5em;
        font-family: 'Raleway', sans-serif;
        font-size: 2em;
        font-weight: 400;
        line-height: 2.2em;
        text-align: center;
        color: black;
        margin-bottom: 2em;
    }

    &__container {

        @media (min-width: 768px) {
            display: flex;
            gap: 2.5em;
            align-items: center;
            margin-left: 2em;
           justify-content: center;
        }

        &__card {

            display: flex;
            position: relative;
            padding: 2.5em 1em;
            margin: 0.2em 2em 3em 2em;
            border: 1px solid;
            border-radius: 1.5em;

            @media (min-width: 768px) {
                display: flex;
                height: 28em;
                width: 20em;

                &:hover {
                    cursor: pointer;
                    box-shadow: 5px 10px 27px 0px #fa597c5d;
                    transform: scale(1.1);
                    transition: transform 0.1s ease;
                }
            }

            // Color
            &--red {
                border-color: #FB3B64;
            }

            &--blue {
                border-color: #07ACE6;
            }

            &--green {
                border-color: #55DFB4;
            }


            &--price {
                text-align: center;
                width: 40%;
                align-content: center;

                @media (min-width: 768px) {
                    display: flex;
                    justify-content: start;
                }

                &-title {
                    font-family: 'Raleway', sans-serif;
                    font-size: 1em;
                    font-weight: 700;
                    line-height: 1.2em;
                    color: #13253B;
                    margin-bottom: 0.6em;

                    @media (min-width: 768px) {
                        @media (min-width: 768px) {
                            position: absolute;
                            top: 3em;
                            left: 0;
                            right: 0;
                        }

                    }
                }

                &-number {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 3em;
                    font-weight: lighter;

                    @media (min-width: 768px) {
                        position: absolute;
                        text-align: center;
                        margin-left: 2em;
                        margin-top: 1em;
                        height: 10%;
                        margin-right: 10em;
                        justify-content: center;
                        // posible error
                    }


                    // Color

                    &--red {
                        color: #FB3B64;

                    }

                    &--blue {
                        color: #07ACE6;
                    }

                    &--green {
                        color: #55DFB4;
                    }

                }

                &-limitedOffer {
                    margin-top: 0.1em;
                    font-family: 'Raleway', sans-serif;
                    font-size: 0.8em;
                    font-weight: 700;
                    line-height: 0.8em;
                    color: #13253B;

                    @media (min-width: 768px) {
                        display: flex;
                        position: absolute;
                        right: 9em;
                        margin-top: 8.5em;
                    }
                }
            }

            &--checkList {

                margin-left: 1.3em;

                @media (min-width: 768px) {
                    display: flex;
                    position: absolute;
                    flex-direction: column;
                    margin-left: 4em;
                    margin-top: 10em;
                }

                &-item {

                    @media (min-width: 768px) {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 19.07px;
                        text-align: center;
                        margin-bottom: 0.5em;
                        color: black;
                        padding: 0.4em 0em;
                    }

                    font-weight: 400;
                    text-align: center;
                    color: black;
                    margin-left: 2em;
                    font-size: 0.8em;
                    line-height: 1em;
                    text-align: center;
                    margin-bottom: 1.5em;
                }

                &-check {
                    list-style: url("../assets/Image/CheckboxGreen.png");
                }

                &-cross {
                    list-style: url("../assets/Image/CheckboxRed.png");
                }

            }

            &--button {
                border-radius: 11em;
                position: absolute;
                padding: 1.2em 4.4em;
                bottom: -8%;
                left: 25%; // Si hay algun problema puede ser por el left del boton
                font-family: 'Open Sans', sans-serif;
                font-size: 0.8em;
                font-weight: 700;
                line-height: 1.1em;
                color: white;

                // Color
                &--red {
                    border-color: transparent;
                    background-color: #FB3B64;
                }

                &--blue {
                    border-color: transparent;
                    background-color: #07ACE6;
                }

                &--green {
                    border-color: transparent;
                    background-color: #55DFB4;
                }
            }

        }

    }

}