@use"navbar";
@use"header";
@use"numbersInfo";
@use"benefits";
@use"pricing";

* {
    box-sizing: border-box;
   margin: 0;
   padding: 0;
   
 
}


// VARIABLES

// $font-raleway: 'Raleway', sans-serif;

// $font-OpenSans: 'Open Sans', sans-serif;

